<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <title> (연습사이트) 성우의 치킨샵 </title>

    <meta property="og:title" content="(연습사이트) 성우의 치킨샵" />
    <meta property="og:description" content="주문해도 안옴 ^^" />
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}" />
    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        .wrap {
            width: 500px;
            margin: auto;
        }

        .title {
            font-size: 30px;
        }

        .myspan {
            font-size: 15px;

        }

        .btn {
            background-color: aqua;
            width: 100px;
            margin: auto;
            display: block;
        }
        #rate {
            color: blue;
        }


    </style>
    <script>
        $(document).ready(function () {
            q1()
            showOrder()
        });


        function q1() {
            $('#names-q1').empty()
            $.ajax({
                type: "GET",
                url: "http://spartacodingclub.shop/sparta_api/rate",
                data: {},
                success: function (response) {
                    let rate = response['rate']
                    $('#rate').append(rate)
                }
            })
        }

        function postOrder() {
            let username = $('#post-username').val()
            let num = $('#inputGroupSelect01').val()
            let address = $('#post-address').val()
            let phone = $('#post-phone').val()

            $.ajax({
                type: "POST",
                url: "/order",
                data: {username_give: username, num_give: num, address_give: address, phone_give: phone},
                success: function (response) {
                    console.log(username, num, address, phone)
                    alert(response["msg"])
                    window.location.reload()
                }
            })
        }

        function showOrder() {
            $.ajax({
                type: "GET",
                url: "/order",
                data: {},
                success: function (response) {
                    let orders = response['all_orders']
                    for (let i = 0; i < orders.length; i++) {
                        let username = orders[i]['username']
                        let num = orders[i]['num']
                        let address = orders[i]['address']
                        let phone = orders[i]['phone']
                        temp_html = `<tr>
                        <td>${username}</td>
                        <td>${num}</td>
                        <td>${address}</td>
                        <td>${phone}</td>
                    </tr>`
                        $('#order-box').append(temp_html)
                    }
                }
            })
        }


    </script>
</head>

<body>
<div class="wrap">

    <img class="myimg"
         src="http://api.cucudas.co.kr/Resource/images/goods/G00000002259/goods_img5.jpg"
         alt="Card image cap">
    <p class="title">교촌 허니콤보팝니다. <span class="myspan">가격:20000원/개</span></p>
    <p class="content">콜라, 맥주 다 잘어울림!</p>
    <p id="rate">달러-원 환율 : </p>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">주문자 이름</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
               aria-describedby="basic-addon1" id="post-username">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">수량</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
            <option selected>-- 수량을 선택하세요 --</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">주소</span>
        </div>
        <input type="text" class="form-control" placeholder="Address" aria-label="Username"
               aria-describedby="basic-addon1" id="post-address">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">전화번호</span>
        </div>
        <input type="text" class="form-control" placeholder="Phone Number" aria-label="Username"
               aria-describedby="basic-addon1" id="post-phone">
    </div>


    <button class="btn" type="submit" onclick="postOrder()">주문하기</button>

    <br>

    <div class="orders">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">이름</th>
                <th scope="col">수량</th>
                <th scope="col">주소</th>
                <th scope="col">전화번호</th>
            </tr>
            </thead>
            <tbody id="order-box"></tbody>
        </table>
    </div>

</body>

</html>