<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Sunflower:wght@300;500&display=swap"
          rel="stylesheet">
    <title>Title</title>

    <style>
        * {
            font-family: 'Nanum Gothic', sans-serif;

        }
    </style>


</head>
<body>
<section class="hero is-primary is-small">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item">
                            Home
                        </a>
                        <span class="navbar-item">
                          <a class="button is-primary is-inverted">
                            <span>My_Page</span>
                          </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title" style="font-family: 'Sunflower', sans-serif; font-size: 50px">
                오늘 뭐 먹지?
            </p>
            <br>
            <p class="subtitle">
                간단한 질문에 답하고, 오늘의 식사를 추천 받아 보세요!
            </p>
        </div>
    </div>
</section>

<label class="checkbox">
  <input type="checkbox" class="btn-check" id="btncheck">
  Remember me
</label>
</body>
</html>